@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --body-color: #2d2a2a;
  --button-color: #7a1f1f;
  /* --savanna-bg: #f8e7ce;
  --glacier-bg: #72857d;
  --coral-bg: #bba88c; */
  --arrow-fill: #333231;
  --body-font: "GmarketSansLight", sans-serif;
  --italic-font: "GmarketSansLight", serif;
}

body{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--body-color);
}

li{
    list-style: none;
}



h1,
h2,
h3 {
  margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background-color: #f8f3e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: var(--body-color);
} 

section{
  width: 100%;
}

header{
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
   
    
}

.logo img {
    width: 130px;
}

.gnb{
    display: flex;
}

.gnb li{
    margin-left: 50px;
}

.gnb li a{
    color: #363636
}

.btn{
    font-size: 2.5rem;
    cursor: pointer;
 }

.container {
  max-width: 1440px;
  border-radius: 4px;
  max-height: 700px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8e7ce;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow: hidden;
  position: relative;
}

@media(min-width:767px){
  .btn{
      display: none;
  }

}

@media (max-width: 480px) {
  .container {
    height: 100%;
    max-height: 100%;
  }
}

.logo {
  width: 116px;
}


@media (max-width: 575px) {
  .gnb{
    display: none;
  }

  .header {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
}

@media screen and (max-width: 740px) {
  .header-menu {
    display: none;
  }

  .btn{
    font-size: 2rem;
    cursor: pointer;
  }
 
}
.header-menu a:not(:first-child) {
  margin-left: 30px;
}


.left-side {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  max-width: 320px;
}

@media screen and (max-width: 930px) {
  .left-side {
    text-align: center;
    max-width: 450px;
  }
}

.mySwiper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.main {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
@media screen and (max-width: 930px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
.main-header {
  color: rgb(223, 54, 54);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 600;
  transition-delay: 0.2s;
}
.main-title {
  font-family: var(--italic-font);
  font-size: 40px;
  font-weight: 400;
  padding-top: 120px;
  margin-bottom: 150px;
  line-height: 1em;
  transition-delay: 0.3s;
}
.main-subtitle {
  font-family: var(--italic-font);
  font-weight: 400;
  font-size: 32px;
  margin-top: 14px;
  margin-bottom: 110px;
  transition-delay: 0.4s;
}
.main-content__title {
  font-size: 26px;
  font-family: var(--italic-font);
  font-style: italic;
  margin-bottom: 14px;
  transition-delay: 0.2s;
}
.main-content__subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
  transition-delay: 0.3s;
}



.center {
  display: flex;
  margin-left: 13%;
  position: relative;
  flex-shrink: 0;
}

@media screen and (max-width: 930px) {
  .center {
    margin-left: 0;
    margin-bottom: 56px;
  }
}
.center .bottle-bg {
  width: 420px;
  height: 550px;
  object-fit: cover;
  border-radius: 160px;
}

@media(max-width:1024px){
  .center .bottle-bg {
    width: 260px;
    height: 390px;
  }
}

@media(max-width:786px){

  .main-title{
    padding: 20px 0;
    margin: 0;
  }

  .main-content__subtitle{
    display: none;
  }

  .main-content__title{
    display: none;
  }

  .left-side{
    margin: 0;
  }
  
}

@media(max-width:375px){
  .main-title{
    font-size: 0px;
  }
}

@media screen and (max-width: 930px) {
  .center .bottle-bg {
    width: 260px;
    height: 390px;
  }
}
@media screen and (max-width: 575px) {
  .center .bottle-bg {
    width: 220px;
    height: 340px;
    
  }
}

.center .bottle-img {
  width: 40%;
  position: absolute;
  top: 30%;
  right: 30%;
  transform: scale(1.6);
}

.swiper-pagination {
  position: absolute;
  right: 10%;
  left: auto;
  top: 80px;
  width: auto;
  bottom: auto;
  z-index: 2;
  font-size: 14px;
  font-family: var(--body-font);
  font-weight: 500;
}

.button-wrapper {
  position: absolute;
  right: 10%;
  bottom: 10%;
  z-index: 1;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 930px) {
  .button-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
  }
}
@media screen and (max-width: 575px) {
  .button-wrapper {
    padding: 0 20px;
  }
}


.button-wrapper .swiper-button {
  border: 1px solid var( --button-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var( --button-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.button-wrapper .swiper-button + .swiper-button {
  margin-left: 16px;
}
@media screen and (max-width: 930px) {
  .button-wrapper .swiper-button + .swiper-button {
    margin-left: 0;
  }
}
.button-wrapper .swiper-button:hover {
  background-color: var( --button-color);
  background-position: left bottom;
}
.button-wrapper .swiper-button:hover svg {
  stroke: #fff;
}
.button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, var( --button-color) 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}
.button-wrapper .swiper-prev-button svg {
  transform: rotate(-180deg);
}
.button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}

.swiper-slide {
  opacity: 0 !important;
  transition: 0.4s;
}
.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-slide .main-wrapper > *,
.swiper-slide .main-content > * {
  transform: translateY(-30px);
  opacity: 0;
  transition-duration: 0.8s;
}

.swiper-slide-active .main-wrapper > *,
.swiper-slide-active .main-content > * {
  transform: none;
  opacity: 1;
}

.swiper-slide .bottle-bg {
  transition-duration: 0.6s;
  opacity: 0;
  object-position: 60%;
}

.swiper-slide-active .bottle-bg {
  opacity: 1;
  transform: none;
  object-position: 50%;
}

.swiper-slide .bottle-img {
  transition-duration: 0.8s;
  transform: scale(1.2);
  opacity: 0;
}

.swiper-slide-active .bottle-img {
  opacity: 1;
  transform: scale(1.6);
}

.section02{
  width: 80%;
}

.main-title02 p{
   font-size: 1.5rem;
   text-align: center;
   padding: 100px 0 50px 0;
   color: #2d2a2a
}

.content01{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content01 .img01{
  width: 100%;
 
}

.content01 img {
  width: 70%;
 
}

.content01 p{
  margin: 0 auto;
}

@media(max-width:540px){
  .content01{
    width: 100%;
  }
  .content01 p{
    font-size: 12px;
  }

}

.content02{
  width: 100%;
}
.content02 img{
  position: relative;
  top: -70px;
  right: -100px;
  opacity: .4;
}




@media (max-width: 1024px){
    .content02 img{
      width: 80%;
      top: -70px;
      right: -200px;
    }
}

@media (max-width: 768px){
    .content02 img{
      width: 80%;
      top: -70px;
      right: -150px;
    }

    .main-title02 p{
      padding: 50px 0px 30px 0px;
    }
}

@media (max-width: 540px){
  .content02 img{
    top: -50px;
    right: -110px;
  }
}



.section04{
  width: 100%;
}

.content-slider{
  width: 100%;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 100px;
  
}

.content-slider img{
  width: 90%;
  margin: auto;
}


.content-slider button{
  position: absolute;
  z-index: 10;
  top: 35%;
  transform: translateY(-30%);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background:#74532378;
  opacity: .7;
}

.content-slider .slick-prev{
  left: 0;
  font-size: 0;
  color: transparent;
}

.content-slider .slick-prev:before{
  content: "\e93c";
}

.content-slider .slick-next{
  right: 0;
  font-size: 0;
  color: transparent;
}

.content-slider .slick-next:before{
  content: "\e93f";
}



.content-slider button:before{
  font-family: 'xeicon';
  color: #f8f8f8;
  font-size: 20px;
}

.xi-angle-left-min{
  color: transparent;
}

.xi-angle-right-min{
  color: transparent;
}




